html{
	max-width: 100%;
	font-family: verdana;
}
body {
	display: flex;
	justify-content: center;
}
#welcomebox {
	display: flex;
	justify-content: center;
	text-align: center;
	position: absolute;
	width: 110%;
	height: 150px;
	margin-top: -3%;
	margin-left: 7%;
	border-bottom: 2px solid white;
	color: white;
	background-color: rgba(100, 100, 200, 0.9)
}
#header {
	margin-top: 15%;
	font-size: 22;
}
table {
	margin-top: 50%;
	margin-left: 20%;
}