html {
	max-width: 100%;
	font-family: verdana;
}

body {
	display: flex;
	justify-content: center;
	padding-left: 2%;
}

#welcomebox {
	display: flex;
	justify-content: center;
	text-align: center;
	position: absolute;
	width: 110%;
	height: 250px;
	margin-top: -3%;
	border-bottom: 2px solid white;
	color: white;
	background-color: rgba(100, 100, 200, 1)
}

#header {
	margin-top: 5%;
	margin-left: -2%;
	font-size: 28;
}

#final_message {
	color: rgba(60, 60, 200, 1);
	position: absolute;
	margin-top: 15%;
	width: 90%;
	display: flex;
	justify-content: center;
	text-align: center;
}

#other_surveys {
	position: absolute;
	text-decoration: bold;
	color: rgba(60, 60, 200, 1);
	position: absolute;
	margin-top: 23%;
	margin-left: -5%;
	width: 90%;
	display: flex;
	justify-content: center;
	text-align: center;
}

#available_surveys {
	text-align: center;
	float: center;
	margin-top: 10%;
	margin-left: 30%;
	height: 150;
}

a:visited, a:link {
	font-size: 20;
	color: rgba(60, 60, 200, 1);
	margin-top: 20%;
}

#optional_surveys {
	margin-top: 10%;
	margin-left: -15%;
}

#home {
	margin-top: 50%;
}