html{
	max-width: 100%;
	font-family: verdana;
}
body {
	display: flex;
	justify-content: center;
}
#welcomebox {
	display: flex;
	justify-content: center;
	text-align: center;
	position: absolute;
	width: 110%;
	height: 150px;
	margin-top: -3%;
	padding-top: 5%;
	border-bottom: 2px solid white;
	color: white;
	background-color: rgba(100, 100, 200, 1)
}
#header {
	margin-top: 1%;
	font-size: 35;
}
table {
	margin-top: 70%;
	margin-left: 20%;
}
#createsurvey {
	position: absolute;
	margin-top: 15%;
	margin-left: -5%;
	height: 20%;
	width: 30%;
}
button{
	width: 110%;
	height: 40%;
	background: rgba(100, 100, 200, 1);
	z-index: 51;
}
a:visited, a:link {
	font-size: 20;
	color: white;
}
#survey_list {
	position: absolute;
	text-align: center;
	margin: 25% 0% 0% -17%;
	background: rgba(100, 100, 200, 1);
	border: 1px solid black;
	width: 30%;
}
ol {
	position: relative;
	padding: 10% 10% 4% 20%;
	width: 100%;
	margin-left: -22%;
	font-size: 20;
}
#sub_header {
	position: absolute;
	width: 100%;
	margin: 22% 0% 0% -51%;
	color: rgba(60, 60, 200, 1);
	text-align: center;
}
.linktext {
	color: white;
	margin-left: -7.5%;
	margin-top: -0%;
	z-index: 51;
}