<!DOCTYPE html5>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			Survey Website
		</title>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
		<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/create_survey.css') }}">
	</head>
	<body>
		<div id='welcomebox'>			
			<h1 id='header'>
				Welcome to Survey Heaven
			</h1>
		</div>
		<div id='surveynamer'><h3>Name this Survey: </h3><input type='text' value='Survey Name'></div>
		<div id='builder'>
			<button id='addquestion'>Add Question</button>
			<ul id='questions'>
				</ul>
				<button id='submit' type='submit'>Continue</button>
			</div>
		
		<script src='/static/js/create_survey.js'></script>
	</body>
</html>