<!DOCTYPE html>
<html lang="en">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>Survey Heaven</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- bootstrap css -->
   <link rel="stylesheet" href="static/css/bootstrap.min.css">
   <!-- style css -->
   <link rel="stylesheet" href="static/css/style.css">
   <!-- Responsive-->
   <link rel="stylesheet" href="static/css/responsive.css">
   <!-- Scrollbar Custom CSS -->
   <link rel="stylesheet" href="static/css/jquery.mCustomScrollbar.min.css">
   <!-- Tweaks for older IEs-->
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
      media="screen">

</head>
<!-- body -->

<body class="main-layout" style='background-color: #f0f0f0;'>
   <!-- loader  -->
   <!--<div class="loader_bg">-->
   <!--   <div class="loader"><img src="static/images/loading.gif" alt="#" /></div>-->
   <!--</div>-->
   <!-- end loader -->
   <!-- header -->
   <header>
      <!-- header inner -->
      <div class="header">
         <div class="container" style="margin-top:8%;">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                  <div class="full">
                     <div class="center-desk">
                        <div class="logo">
                           <!-- <a href="index.html"><img src="static/images/logo.png" alt="#" /></a> -->
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-9 col-lg-9 col-md-8 col-sm-8">
                  <nav class="navigation navbar navbar-expand-md navbar-dark ">
                     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
                        aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                     </button>
                     <div id="menu_open_close">
                     <div class="collapse navbar-collapse" id="navbarsExample04">
                        <ul class="navbar-nav mr-auto">

                           <form method='post'>
                              <li class="login_btn" class="nav_item" style="padding-left: 20%; padding-right: 30%; margin-left: auto; margin-right:auto; text-align: left;">
                                 <h3><a class="nav-link" href='login'>LogIn</a></h3>
                              </li>
                              <br>
                              <li class="login_btn" class="nav_item" style="padding-left: 20%; padding-right: 33%; margin-left: auto; margin-right:auto; text-align: left;">
                                 <h3><a class="nav-link" href='signup'>SignUp</a></h3>
                              </li>
                           </form>
                        </ul>
                     </div>
                     </div>
                  </nav>
               </div>
            </div>
         </div>
      </div>
   </header>
   <!-- end header inner -->
   <!-- end header -->
   <!-- banner -->
   <section class="banner_main">
      <div class="container-fluid">
         <div class="row d_flex">
            <div class="col-xl-6 col-lg-6 col-md-6 ">
               <div class="text-bg">
                  <h1>Welcome To Survey Heaven</h1>
                  <span>Come here to Create <br>
                     Personalized Surveys<br> For Free! </span>
               </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 padding_lert2">

               <div class="text-img">
                  <!-- <figure><img src="images/survey_board.png" alt="#"/></figure> -->
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- end banner -->
   <!-- about -->
   <div class="about" style='background-color: #f0f0f0;'>
      <div class="container">
         <div class="row">
            <div class="col-md-10 offset-md-1">
               <div class="titlepage">
                  <span>About Us </span>
                  <h2>Unlimited Surveys</h2>
                  <p>Need to make a survey but can't spare any money? No worries use Survey Heaven<br> to make as many
                     as you want, Absolutely Free! <br>No costs hidden!</p>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="ccol-md-10 offset-md-1">
               <div class="about_box">
                  <!-- <figure><img src="images/about.png" alt="#"/></figure>
                              -->
               </div>
            </div>


         </div>

      </div>
   </div>

   <!-- end about -->
   <!-- classified -->
   <div class="about" style='background-color: #f0f0f0;'>
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="titlepage">
                  <span>Why choose us</span>
                  <h2>Unlimited Answers</h2>
                  <p>Yo could use other websites, but there's always a catch!<br>Maybe you have to pay to have more
                     answers, or maybe you have to subscribe?<br>At Survey Heaven, everything is unlimited for free!</p>
               </div>
            </div>
         </div>


         <!-- testimonial -->
         <div class="testimonial" style='background-color: #f0f0f0;'>
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-10 offset-md-1">
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="container">
                              <div class="carousel-caption ">
                                 <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-12 margin_boot">
                                    </div>
                                    <div class="col-xl-8 col-lg-8 col-md-12">
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-12 margin_boot">
                                    </div>
                                    <div class="col-xl-8 col-lg-8 col-md-12">
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end testimonial -->

      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-8 offset-md-2">
                     <div class="cont">
                        <h3>Create an account now and share your surveys with the World! <br>
                           We don't need any personal info
                        </h3>
                        <p>and don't worry about security,<br> all passwords are hashed</p>



                        <div class="container">
                           <div class="row">
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                 <div class="titlepage">

                                          <div style="margin-top: -3%; width: 60%;" class="container">
                                             <div class="login-box animated fadeInUp" style="margin-left: auto; margin-right: auto;">
                                                <form method='post'>
                                                   <div class="login_btn" class="nav_item" style="text-align: center;">
                                                      <p style="width: 100%;"><a class="nav-link" href='signup'>Sign-Up</a></p>
                                                   </div>
                                                </form>
                                             </div>
                                          </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="static/js/jquery.min.js"></script>
      <script src="static/js/bootstrap.bundle.min.js"></script>
      <script src="static/js/jquery-3.0.0.min.js"></script>
      <script src="static/js/popper.min.js"></script>
      <script src="static/js/plugin.js"></script>
      <!-- sidebar -->
      <script src="static/js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="static/js/custom2.js"></script>
      <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>-->

</body>

</html>